<section class="country">
  <header>
    <h1><%= group_value %></h1>
  </header>
  <div class="data">
    <ul>
    <%- group_data.each do |gd| -%>
      <li><%= gd.values.join(', ') -%></li>
    <% end %>
    </ul>
  </div>
  <div class="level">
    <%= group_level %>
  </div>
</section>
