/*
 *= require_self
 */

.attributarchy div {
  font-weight: bold;
  padding: 1em;
  width: 50%;
  border-left: 1em solid black;
}

.attributarchy div div {
  border-width: 0.5em;
  margin: 1em;
}

.continent-attributarchy {
  background-color: #ccc;
}
.country-attributarchy {
  background-color: #ddd;
}
